.About-grid{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: auto;
    gap: 20px;

    padding-top: 50px;

}

.grid-Item{
    height: auto;
}

.outer-Grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Experience-Grid{
    max-width: 80%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

    flex-basis: auto;
    align-items: center;

    margin-inline: auto;

    gap: 25px;
}

.Grid-Item{
    max-width: 60%;
    height: auto;
}

p2{
    font-size: .8rem;
}

p3{
    font-size: 1rem;
}

@media (min-width: 800px) {
    .About-grid{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        flex-direction: row;

        justify-content: center;
        align-items: left;
        
        gap: 100px;
        flex-grow: auto;
        padding-top: 50px;
    }

    .Experience-Grid{
        max-width: 80%;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    
        flex-basis: auto;
    
        margin-inline: auto;

        align-items: baseline;

        gap: 25px;
    }
}