.Animation-Grid{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: auto;
    gap: 10px;
}

.Grid-Item{
    max-width: 60%;
    height: auto;
}

.Grid-Item-1{
    max-width: 45%;
}
