body{
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

p{
    font-family: "Montserrat","Inter","Arial", "Helvetica", "sans-serif";
    max-width:40%;
    font-size: 1rem;
}

h1{
    font-size: 3rem;
    color: #ed864a;
    text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff,
    1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
}

h2{
    font-family:"Arvo","Arial", "Helvetica", "sans-serif";

    text-align: center;
    font-size: 1.5rem;
    color: #ed864a;
}

.taskBar{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items:center;
    justify-content: center;

    max-width: 91%;
    margin-inline: auto;
    margin-top: -25px;

    z-index: 3;
    top: 0px;
    position:relative;

    background-color: #ffff;
}

.socialsBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.socials-Divider{
    max-width: fit-content;
    margin-inline: auto;
}

.divider{
    max-width: 500px;
}

/*size of the animated gif on the top bar*/
.nameSize{
   min-width: 380px;
   max-height: 159px;

   margin-right: auto;
}

.taskbarItem{
    background: none;
    border: none;
    padding-top: 20px;

    color: #ED9E73;
    font-size: 1.2rem;
}

.taskbarItem:hover{
text-decoration: underline;
}

.TaskBarDivider{
    justify-content: baseline;
    height: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.taskBarSocials{
    height: 50px;
    width: 50px;

    padding-top: 20px;
    margin-bottom: 20px;
}

.Project-Dropdown{
    position: relative;
    display: inline-block;
}

.Project-Dropdown-Content{
    display: none;
    position:absolute;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
}

.Project-Dropdown-Content a:hover{
    color: #ffd1b8;
}


.Project-Dropdown-Content a{
    padding: 12px, 16px;

    display: block;
    color: #ED9E73;

    text-decoration: none;
    
    border-style: solid;
    border-width: 1px;
}

a:visited{
    color:#ED9E73;
}

.Project-Dropdown:hover .Project-Dropdown-Content{display: block;}

.ShowreelContainer{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.AnimationsContainer{
    min-width: 100%;
    min-height: 100%;

    margin-top: 75px;
    order: 3;

    display: flex;
    flex-wrap: wrap;

    align-items: start;
    justify-content: center;
    gap: 25px;    
}

.AnimationItem{
    min-width: 350px;
    height: 175px;

    background-color:#84848488 ;
    border-color: #ffffff;

    position: relative;
    z-index: 2;
}

@media (min-width: 800px) {

    .divider{
        max-width: fit-content;
    }

    .taskBar{
        flex-flow: nowrap;
        position: sticky;
    }

    .AnimationItem{
        min-width: 500px;
        min-height: 275px;
    }

    .taskbarItem{
        font-size: 1rem;
    }

    p{
        font-size: 1.5rem;
    }

    h2{
        font-size: 3rem;
    }
}

.AnimationItem:hover{
    background-color:#848484bd ;
}

.grid-Wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-Wrapper > div >.IllustrationItem{
    min-width: 100%;
    min-height: 100%;

    object-fit:cover;
    border-radius: 5px;

}

.grid-Wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(auto, minmax(500px));  
    grid-auto-rows: 100%;

    grid-auto-flow: column;

    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.grid-Wrapper .wide{
    grid-column: span 2;
}

.grid-Wrapper .tall{
    grid-row: span 2;
}

.grid-Wrapper .big{
    grid-column: span 2;
    grid-row: span 2;
} 

.IllustrationItem{
    max-width: 100%;
    height: 100%;

    vertical-align: middle;
}
