body{
    font-family: "Inter", sans-serif;
}

h1{
    font-size: 3rem;
    color: #ed864a;
    text-shadow: 1px 0 #e7b497, -1px 0 #e7b497, 0 1px #e7b497, 0 -1px #e7b497,
    1px 1px #e7b497, -1px -1px #e7b497, 1px -1px #e7b497, -1px 1px #e7b497;
}

.taskBar{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    align-items:center;

    max-width: 100%;
    margin-top: -25px;
    padding-right: 50px;
}

/*size of the animated gif on the top bar*/
.nameSize{
   width: 580px;
   height: 159px;

   margin-right: auto;
   margin-right: 350px;
}

.taskbarItem{
    background: none;
    border: none;
    padding-top: 20px;

    justify-content: right;
    color: #ED9E73;
    font-size:1rem;
}

.taskbarItem:hover{
text-decoration: underline;
}

.TaskBarDivider{
    justify-content: baseline;
    height: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.taskBarSocials{
    height: 25px;
    width: 25px;

    padding-top: 20px;
    padding-right: 5px;
}

.ShowreelContainer{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}


.AnimationsContainer{
    width: 100%;
    height: 100%;

    margin-top: 75px;
    order: 3;

    display: flex;
    flex-wrap: wrap;

    align-items: start;
    justify-content: center;
    gap: 25px;    
}

.AnimationItem{
    width: 500px;
    height: 275px;

    background-color:#84848488 ;

    position: relative;
    z-index: 2;
}

.AnimationItem:hover{
    background-color:#848484bd ;
}

.IllustrationContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.IllustrationColumn{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.IllustrationRow{
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.grid-Wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-Wrapper > div >.IllustrationItem{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-Wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(auto, minmax(500px));  
    grid-auto-rows: 100%;
    grid-auto-flow:dense;
}

.grid-Wrapper .wide{
    grid-column: span 2;
}

.grid-Wrapper .tall{
    grid-row: span 2;
}

.grid-Wrapper .big{
    grid-column: span 2;
    grid-row: span 2;
} 

.IllustrationItem{
    max-width: 100%;
    height: auto;

    vertical-align: middle;
    display: inline-block;
}