body{
    font-family: "Inter", sans-serif;
}

.taskBar{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    align-items:center;

    max-width: 100%;
    margin-top: -25px;
    padding-right: 50px;
}

/*size of the animated gif on the top bar*/
.nameSize{
   width: 580px;
   height: 159px;

   margin-right: auto;
   margin-right: 350px;
}

.taskbarItem{
    background: none;
    border: none;
    padding-top: 20px;

    justify-content: right;
    color: #ED9E73;
    font-size:1rem;
}

.taskbarItem:hover{
text-decoration: underline;
}

.TaskBarDivider{
    justify-content: baseline;
    height: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.taskBarSocials{
    height: 25px;
    width: 25px;

    padding-top: 20px;
    padding-right: 5px;
}

.ShowreelContainer{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}


.AnimationsContainer{
    width: 100%;
    height: 100%;

    margin-top: 75px;
    order: 3;

    display: flex;
    flex-wrap: wrap;

    align-items: start;
    justify-content: center;
    gap: 25px;    
}

.AnimationItem{
    width: 500px;
    height: 275px;

    background-color:darkgrey;
}